In [2]:
import pandas as pd

In [3]:
#read in the dataset desired
df = pd.read_csv('diabetic_data.csv')

In [4]:
#just look at top few obs
df.head(6)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),?,2,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,>30

In [5]:
#Simplify dataframe using melt to identify patients readmission by time in hospital
df.melt(id_vars=['time_in_hospital'], value_vars=['readmitted'])

        time_in_hospital    variable value
0                      1  readmitted    NO
1                      3  readmitted   >30
2                      2  readmitted    NO
3                      2  readmitted    NO
4                      1  readmitted    NO
...                  ...         ...   ...
101761                 3  readmitted   >30
101762                 5  readmitted    NO
101763                 1  readmitted    NO
101764                10  readmitted    NO
101765                 6  readmitted    NO

[101766 rows x 3 columns]

In [36]:
#create a pivot on the readmitted column without any aggregation - using a unique key encounter_id - no duplication
pivot_df = df.pivot(index='encounter_id', columns='readmitted', values='time_in_hospital')
print(pivot_df)

readmitted    <30  >30    NO
encounter_id
12522         NaN  NaN  13.0
15738         NaN  NaN  12.0
16680         NaN  NaN   1.0
28236         NaN  9.0   NaN
35754         NaN  3.0   NaN
...           ...  ...   ...
443847548     NaN  3.0   NaN
443847782     NaN  NaN   5.0
443854148     NaN  NaN   1.0
443857166     NaN  NaN  10.0
443867222     NaN  NaN   6.0

[101766 rows x 3 columns]

In [32]:
#get a pivot table of age by race on time in hospital average aggregation
pivot_table_df = df.pivot_table(index='age', values='time_in_hospital', columns='race', aggfunc={'time_in_hospital': 'mean'})
pivot_table_df.columns = [f'Mean time_in_hospital ({col})' for col in pivot_table_df.columns]

In [33]:
print(pivot_table_df)

          Mean time_in_hospital (?)  Mean time_in_hospital (AfricanAmerican)  \
age
[0-10)                     2.000000                                 2.812500
[10-20)                    1.888889                                 3.100478
[20-30)                    3.434783                                 3.957407
[30-40)                    3.644737                                 3.922322
[40-50)                    3.763636                                 4.348403
[50-60)                    3.975069                                 4.272426
[60-70)                    4.163636                                 4.647684
[70-80)                    4.395659                                 4.819444
[80-90)                    4.989924                                 4.997248
[90-100)                   5.188406                                 4.808696

          Mean time_in_hospital (Asian)  Mean time_in_hospital (Caucasian)  \
age
[0-10)                         2.500000                           2.507353
[10-20)                        2.000000                           3.294521
[20-30)                        2.833333                           3.366154
[30-40)                        3.333333                           3.757149
[40-50)                        3.076923                           3.926766
[50-60)                        4.008130                           4.090410
[60-70)                        4.012500                           4.327922
[70-80)                        4.200000                           4.564135
[80-90)                        4.244444                           4.787906
[90-100)                       4.727273                           4.733763

          Mean time_in_hospital (Hispanic)  Mean time_in_hospital (Other)
age
[0-10)                            2.500000                       3.000000
[10-20)                           2.739130                       3.000000
[20-30)                           3.492063                       3.444444
[30-40)                           3.787356                       3.380952
[40-50)                           3.896142                       3.981013
[50-60)                           3.883375                       4.012945
[60-70)                           4.132924                       4.557971
[70-80)                           4.272021                       4.570552
[80-90)                           4.716312                       4.486667
[90-100)                          5.789474                       4.083333

In [19]:
#creating a groupby object to do some calculations on numeric vars with aggregation
means_time_hosp = df['time_in_hospital'].groupby([df['age'], df['race'], df['readmitted']]).mean()

In [20]:
means_time_hosp

age       race             readmitted
[0-10)    ?                NO            2.000000
          AfricanAmerican  >30           3.200000
                           NO            2.636364
          Asian            NO            2.500000
          Caucasian        <30           2.666667
                                           ...
[90-100)  Hispanic         <30           7.000000
                           >30           6.166667
                           NO            5.000000
          Other            >30           4.500000
                           NO            3.875000
Name: time_in_hospital, Length: 162, dtype: float64

In [21]:
#unstacking them
means_time_hosp.unstack()

readmitted                     <30       >30        NO
age      race
[0-10)   ?                     NaN       NaN  2.000000
         AfricanAmerican       NaN  3.200000  2.636364
         Asian                 NaN       NaN  2.500000
         Caucasian        2.666667  2.857143  2.437500
         Hispanic              NaN       NaN  2.500000
         Other                 NaN       NaN  3.000000
[10-20)  ?                     NaN  1.500000  2.000000
         AfricanAmerican  3.461538  3.115942  3.055118
         Asian                 NaN       NaN  2.000000
         Caucasian        3.730769  4.127517  2.779468
         Hispanic              NaN  2.666667  2.750000
         Other            3.000000  3.000000  3.000000
[20-30)  ?                2.500000  3.500000  3.529412
         AfricanAmerican  3.676471  4.301205  3.833333
         Asian                 NaN       NaN  2.833333
         Caucasian        3.444444  3.636364  3.176238
         Hispanic         8.000000  3.529412  3.377778
         Other            1.000000  3.363636  3.666667
[30-40)  ?                1.000000  4.583333  3.548387
         AfricanAmerican  4.528169  4.277487  3.605150
         Asian                 NaN  2.000000  3.818182
         Caucasian        3.957198  4.094840  3.518308
         Hispanic         5.166667  4.282609  3.448276
         Other            3.636364  2.500000  3.808511
[40-50)  ?                4.222222  4.150000  3.617284
         AfricanAmerican  5.210210  4.631966  3.978044
         Asian            3.000000  4.200000  2.794872
         Caucasian        4.233871  4.223005  3.683821
         Hispanic         4.439024  4.311927  3.534759
         Other            4.000000  5.421053  3.472222
[50-60)  ?                4.181818  4.610390  3.770992
         AfricanAmerican  5.113801  4.504383  3.975526
         Asian            6.111111  5.451613  3.240964
         Caucasian        4.553754  4.320019  3.862064
         Hispanic         4.714286  4.145299  3.674419
         Other            5.083333  4.807692  3.589372
[60-70)  ?                5.242424  4.160714  4.062857
         AfricanAmerican  4.771134  4.770916  4.538153
         Asian            4.294118  4.761905  3.653465
         Caucasian        4.661126  4.445438  4.179795
         Hispanic         4.714286  4.474286  3.775194
         Other            5.565217  4.751880  4.251064
[70-80)  ?                4.529412  4.517857  4.323684
         AfricanAmerican  5.425110  4.768374  4.717122
         Asian            3.333333  4.195652  4.420561
         Caucasian        4.945418  4.532804  4.498682
         Hispanic         4.446809  4.069767  4.357143
         Other            4.914286  4.485437  4.553191
[80-90)  ?                4.800000  4.895238  5.070248
         AfricanAmerican  4.971698  4.864780  5.089783
         Asian            4.111111  3.720000  4.500000
         Caucasian        4.993782  4.702552  4.800509
         Hispanic         4.695652  4.725000  4.717949
         Other            3.800000  4.979167  4.333333
[90-100) ?                5.250000  5.142857  5.191489
         AfricanAmerican  4.914286  4.112360  5.072398
         Asian                 NaN  2.000000  5.750000
         Caucasian        4.688213  4.543605  4.837700
         Hispanic         7.000000  6.166667  5.000000
         Other                 NaN  4.500000  3.875000

In [25]:
#create a slimmed down df for this data with just the columns interested in
columns_to_keep = ['time_in_hospital', 'age', 'race', 'gender', 'readmitted']
slimmed_df = df[columns_to_keep]
print(slimmed_df)

        time_in_hospital      age             race  gender readmitted
0                      1   [0-10)        Caucasian  Female         NO
1                      3  [10-20)        Caucasian  Female        >30
2                      2  [20-30)  AfricanAmerican  Female         NO
3                      2  [30-40)        Caucasian    Male         NO
4                      1  [40-50)        Caucasian    Male         NO
...                  ...      ...              ...     ...        ...
101761                 3  [70-80)  AfricanAmerican    Male        >30
101762                 5  [80-90)  AfricanAmerican  Female         NO
101763                 1  [70-80)        Caucasian    Male         NO
101764                10  [80-90)        Caucasian  Female         NO
101765                 6  [70-80)        Caucasian    Male         NO

[101766 rows x 5 columns]

In [30]:
#do some iterating over the data with groupby
for (k1,k2), group in slimmed_df.groupby(['age','race']):
    print((k1,k2))
    print(group)

('[0-10)', '?')
       time_in_hospital     age race  gender readmitted
32389                 2  [0-10)    ?  Female         NO
('[0-10)', 'AfricanAmerican')
       time_in_hospital     age             race  gender readmitted
1579                  2  [0-10)  AfricanAmerican  Female         NO
2935                  8  [0-10)  AfricanAmerican    Male         NO
4455                  3  [0-10)  AfricanAmerican  Female        >30
6636                  2  [0-10)  AfricanAmerican    Male         NO
7363                  1  [0-10)  AfricanAmerican    Male         NO
10789                 2  [0-10)  AfricanAmerican  Female         NO
11752                 2  [0-10)  AfricanAmerican    Male         NO
18783                 2  [0-10)  AfricanAmerican    Male         NO
20466                 3  [0-10)  AfricanAmerican    Male         NO
22734                 2  [0-10)  AfricanAmerican  Female         NO
27151                 2  [0-10)  AfricanAmerican    Male        >30
35377                 2  [0-10)  AfricanAmerican  Female         NO
48002                 2  [0-10)  AfricanAmerican  Female        >30
54347                 4  [0-10)  AfricanAmerican    Male        >30
58522                 3  [0-10)  AfricanAmerican  Female         NO
62379                 5  [0-10)  AfricanAmerican  Female        >30
('[0-10)', 'Asian')
      time_in_hospital     age   race  gender readmitted
7257                 1  [0-10)  Asian    Male         NO
7513                 4  [0-10)  Asian  Female         NO
('[0-10)', 'Caucasian')
        time_in_hospital     age       race  gender readmitted
0                      1  [0-10)  Caucasian  Female         NO
216                    3  [0-10)  Caucasian  Female         NO
270                    2  [0-10)  Caucasian  Female         NO
294                    1  [0-10)  Caucasian  Female        >30
474                    2  [0-10)  Caucasian  Female         NO
...                  ...     ...        ...     ...        ...
89538                  2  [0-10)  Caucasian    Male         NO
89636                  2  [0-10)  Caucasian    Male         NO
93803                  1  [0-10)  Caucasian    Male         NO
98900                  1  [0-10)  Caucasian  Female         NO
100787                 3  [0-10)  Caucasian  Female         NO

[136 rows x 5 columns]
('[0-10)', 'Hispanic')
       time_in_hospital     age      race  gender readmitted
3153                  3  [0-10)  Hispanic  Female         NO
80354                 2  [0-10)  Hispanic  Female         NO
('[0-10)', 'Other')
       time_in_hospital     age   race gender readmitted
513                   3  [0-10)  Other   Male         NO
9852                  2  [0-10)  Other   Male         NO
12454                 3  [0-10)  Other   Male         NO
56934                 4  [0-10)  Other   Male         NO
('[10-20)', '?')
       time_in_hospital      age race  gender readmitted
2568                  4  [10-20)    ?    Male         NO
31803                 2  [10-20)    ?  Female         NO
44953                 2  [10-20)    ?    Male         NO
81437                 1  [10-20)    ?    Male         NO
86392                 1  [10-20)    ?  Female         NO
89379                 2  [10-20)    ?    Male        >30
91296                 2  [10-20)    ?    Male         NO
95178                 1  [10-20)    ?  Female        >30
98142                 2  [10-20)    ?    Male         NO
('[10-20)', 'AfricanAmerican')
       time_in_hospital      age             race  gender readmitted
204                  10  [10-20)  AfricanAmerican    Male         NO
249                   1  [10-20)  AfricanAmerican  Female         NO
370                   3  [10-20)  AfricanAmerican  Female         NO
392                   6  [10-20)  AfricanAmerican  Female        >30
425                   1  [10-20)  AfricanAmerican  Female         NO
...                 ...      ...              ...     ...        ...
91298                 1  [10-20)  AfricanAmerican  Female         NO
96870                 1  [10-20)  AfricanAmerican    Male         NO
97751                 1  [10-20)  AfricanAmerican    Male         NO
97910                 3  [10-20)  AfricanAmerican    Male         NO
97934                 3  [10-20)  AfricanAmerican  Female        >30

[209 rows x 5 columns]
('[10-20)', 'Asian')
       time_in_hospital      age   race  gender readmitted
5814                  2  [10-20)  Asian  Female         NO
11545                 2  [10-20)  Asian  Female         NO
('[10-20)', 'Caucasian')
        time_in_hospital      age       race  gender readmitted
1                      3  [10-20)  Caucasian  Female        >30
66                     1  [10-20)  Caucasian    Male         NO
232                    2  [10-20)  Caucasian    Male        <30
277                    2  [10-20)  Caucasian  Female         NO
443                    1  [10-20)  Caucasian  Female        >30
...                  ...      ...        ...     ...        ...
100545                 3  [10-20)  Caucasian  Female         NO
100835                 3  [10-20)  Caucasian  Female         NO
100913                 8  [10-20)  Caucasian    Male        <30
101703                 3  [10-20)  Caucasian    Male         NO
101719                 1  [10-20)  Caucasian    Male         NO

[438 rows x 5 columns]
('[10-20)', 'Hispanic')
        time_in_hospital      age      race  gender readmitted
3292                   2  [10-20)  Hispanic  Female        >30
8246                   2  [10-20)  Hispanic  Female         NO
11386                  2  [10-20)  Hispanic  Female         NO
11518                  2  [10-20)  Hispanic    Male         NO
14190                  4  [10-20)  Hispanic    Male         NO
14220                  1  [10-20)  Hispanic  Female        >30
20709                  3  [10-20)  Hispanic    Male         NO
25293                  2  [10-20)  Hispanic  Female         NO
33676                  4  [10-20)  Hispanic    Male         NO
41092                  2  [10-20)  Hispanic    Male         NO
61908                 12  [10-20)  Hispanic    Male         NO
64567                  2  [10-20)  Hispanic    Male         NO
66970                  5  [10-20)  Hispanic  Female        >30
68635                  3  [10-20)  Hispanic  Female         NO
72603                  2  [10-20)  Hispanic  Female         NO
85488                  2  [10-20)  Hispanic  Female         NO
87309                  3  [10-20)  Hispanic  Female         NO
91008                  2  [10-20)  Hispanic  Female         NO
94501                  1  [10-20)  Hispanic  Female         NO
96275                  2  [10-20)  Hispanic  Female         NO
98787                  1  [10-20)  Hispanic    Male         NO
99556                  2  [10-20)  Hispanic    Male         NO
100982                 2  [10-20)  Hispanic  Female         NO
('[10-20)', 'Other')
       time_in_hospital      age   race  gender readmitted
283                   4  [10-20)  Other    Male         NO
1775                  3  [10-20)  Other  Female        <30
1884                  3  [10-20)  Other  Female         NO
10141                 3  [10-20)  Other    Male         NO
11534                 4  [10-20)  Other    Male         NO
17907                 2  [10-20)  Other  Female         NO
28105                 5  [10-20)  Other    Male         NO
42955                 3  [10-20)  Other    Male        >30
54409                 1  [10-20)  Other  Female         NO
54989                 2  [10-20)  Other    Male         NO
('[20-30)', '?')
       time_in_hospital      age race  gender readmitted
665                   1  [20-30)    ?  Female        >30
2042                  5  [20-30)    ?  Female         NO
10655                 4  [20-30)    ?  Female         NO
17265                 4  [20-30)    ?  Female         NO
23737                 2  [20-30)    ?    Male         NO
27476                 2  [20-30)    ?  Female         NO
27939                 1  [20-30)    ?  Female         NO
28054                 2  [20-30)    ?    Male         NO
28731                 2  [20-30)    ?  Female         NO
29186                 6  [20-30)    ?  Female        >30
29313                 3  [20-30)    ?  Female         NO
29637                 2  [20-30)    ?  Female         NO
29643                 1  [20-30)    ?  Female         NO
30305                10  [20-30)    ?  Female        >30
30585                 4  [20-30)    ?  Female         NO
31834                 1  [20-30)    ?  Female        >30
33269                 4  [20-30)    ?  Female        >30
33306                 2  [20-30)    ?  Female        >30
33870                 6  [20-30)    ?  Female         NO
33904                 3  [20-30)    ?    Male         NO
34039                 2  [20-30)    ?  Female         NO
34905                 4  [20-30)    ?    Male        <30
35032                 3  [20-30)    ?    Male         NO
35126                 6  [20-30)    ?  Female         NO
35401                 2  [20-30)    ?  Female        <30
35426                 4  [20-30)    ?  Female         NO
36322                 3  [20-30)    ?  Female         NO
53153                 2  [20-30)    ?  Female         NO
56876                 3  [20-30)    ?  Female         NO
58777                 2  [20-30)    ?  Female         NO
59306                 4  [20-30)    ?    Male         NO
59759                 3  [20-30)    ?  Female         NO
62622                 5  [20-30)    ?  Female         NO
64855                 4  [20-30)    ?  Female         NO
66477                 2  [20-30)    ?  Female         NO
69225                14  [20-30)    ?  Female         NO
73527                 2  [20-30)    ?  Female        <30
74285                 6  [20-30)    ?    Male         NO
74406                 2  [20-30)    ?  Female        <30
74687                 1  [20-30)    ?  Female        >30
75698                 7  [20-30)    ?  Female         NO
75993                 1  [20-30)    ?  Female         NO
76039                 5  [20-30)    ?  Female         NO
92159                 2  [20-30)    ?    Male         NO
97458                 1  [20-30)    ?    Male         NO
99100                 3  [20-30)    ?  Female        >30
('[20-30)', 'AfricanAmerican')
        time_in_hospital      age             race  gender readmitted
2                      2  [20-30)  AfricanAmerican  Female         NO
128                    1  [20-30)  AfricanAmerican  Female        >30
191                    5  [20-30)  AfricanAmerican    Male         NO
304                    3  [20-30)  AfricanAmerican    Male        <30
431                    2  [20-30)  AfricanAmerican  Female        >30
...                  ...      ...              ...     ...        ...
101058                 4  [20-30)  AfricanAmerican  Female         NO
101097                 3  [20-30)  AfricanAmerican  Female         NO
101132                 1  [20-30)  AfricanAmerican  Female        >30
101375                 3  [20-30)  AfricanAmerican  Female         NO
101587                12  [20-30)  AfricanAmerican    Male         NO

[540 rows x 5 columns]
('[20-30)', 'Asian')
       time_in_hospital      age   race  gender readmitted
14881                 3  [20-30)  Asian  Female         NO
24209                 5  [20-30)  Asian    Male         NO
57376                 2  [20-30)  Asian  Female         NO
85280                 2  [20-30)  Asian  Female         NO
87180                 3  [20-30)  Asian  Female         NO
96105                 2  [20-30)  Asian  Female         NO
('[20-30)', 'Caucasian')
        time_in_hospital      age       race  gender readmitted
28                    10  [20-30)  Caucasian    Male        >30
143                    2  [20-30)  Caucasian    Male        >30
194                    1  [20-30)  Caucasian  Female        >30
199                   10  [20-30)  Caucasian    Male        >30
303                    1  [20-30)  Caucasian    Male         NO
...                  ...      ...        ...     ...        ...
101138                 4  [20-30)  Caucasian  Female         NO
101385                 3  [20-30)  Caucasian  Female        <30
101629                 2  [20-30)  Caucasian    Male        <30
101639                 1  [20-30)  Caucasian  Female         NO
101688                 4  [20-30)  Caucasian    Male         NO

[975 rows x 5 columns]
('[20-30)', 'Hispanic')
       time_in_hospital      age      race  gender readmitted
373                   1  [20-30)  Hispanic    Male        >30
968                   4  [20-30)  Hispanic    Male         NO
4906                  4  [20-30)  Hispanic  Female        >30
8269                  1  [20-30)  Hispanic  Female         NO
8658                  3  [20-30)  Hispanic  Female         NO
...                 ...      ...       ...     ...        ...
97834                 3  [20-30)  Hispanic  Female         NO
98068                 1  [20-30)  Hispanic  Female         NO
98340                 4  [20-30)  Hispanic  Female         NO
99674                 4  [20-30)  Hispanic  Female         NO
99934                 4  [20-30)  Hispanic  Female        >30

[63 rows x 5 columns]
('[20-30)', 'Other')
       time_in_hospital      age   race  gender readmitted
258                   5  [20-30)  Other    Male         NO
4289                  3  [20-30)  Other  Female         NO
11602                 1  [20-30)  Other    Male        >30
11933                 2  [20-30)  Other    Male         NO
13509                 3  [20-30)  Other    Male         NO
15016                 7  [20-30)  Other    Male         NO
40933                 3  [20-30)  Other    Male        >30
41801                 3  [20-30)  Other    Male        >30
41867                 1  [20-30)  Other    Male         NO
43233                 1  [20-30)  Other    Male         NO
45650                 8  [20-30)  Other    Male        >30
52140                10  [20-30)  Other    Male         NO
76250                 3  [20-30)  Other  Female        >30
86753                 4  [20-30)  Other  Female         NO
91111                 3  [20-30)  Other    Male        >30
91195                 1  [20-30)  Other    Male         NO
93101                 2  [20-30)  Other  Female        >30
93266                 4  [20-30)  Other  Female        >30
93299                 1  [20-30)  Other  Female        >30
93587                 1  [20-30)  Other  Female        >30
93710                 8  [20-30)  Other  Female         NO
93776                 1  [20-30)  Other  Female         NO
96439                 5  [20-30)  Other    Male         NO
97904                 2  [20-30)  Other  Female         NO
98782                 2  [20-30)  Other  Female         NO
99269                 8  [20-30)  Other    Male        >30
99300                 1  [20-30)  Other  Female        <30
('[30-40)', '?')
        time_in_hospital      age race  gender readmitted
99                     6  [30-40)    ?    Male        >30
127                    3  [30-40)    ?    Male         NO
927                    2  [30-40)    ?    Male        >30
1244                   5  [30-40)    ?  Female         NO
1510                   4  [30-40)    ?  Female         NO
...                  ...      ...  ...     ...        ...
99261                  3  [30-40)    ?    Male         NO
99452                  4  [30-40)    ?    Male         NO
101173                 3  [30-40)    ?  Female         NO
101218                 4  [30-40)    ?    Male         NO
101257                 1  [30-40)    ?    Male        >30

[76 rows x 5 columns]
('[30-40)', 'AfricanAmerican')
        time_in_hospital      age             race  gender readmitted
125                    8  [30-40)  AfricanAmerican  Female        >30
140                    3  [30-40)  AfricanAmerican    Male         NO
263                    2  [30-40)  AfricanAmerican  Female         NO
302                    9  [30-40)  AfricanAmerican  Female        >30
329                    4  [30-40)  AfricanAmerican  Female        >30
...                  ...      ...              ...     ...        ...
101141                 2  [30-40)  AfricanAmerican  Female        <30
101343                 2  [30-40)  AfricanAmerican    Male        >30
101371                 6  [30-40)  AfricanAmerican  Female         NO
101579                 6  [30-40)  AfricanAmerican    Male        <30
101657                 5  [30-40)  AfricanAmerican    Male         NO

[1223 rows x 5 columns]
('[30-40)', 'Asian')
        time_in_hospital      age   race  gender readmitted
13649                  2  [30-40)  Asian  Female         NO
15752                  5  [30-40)  Asian    Male         NO
26738                  1  [30-40)  Asian    Male        >30
27090                  9  [30-40)  Asian    Male         NO
28184                  1  [30-40)  Asian  Female        >30
39281                  3  [30-40)  Asian  Female        >30
43401                  3  [30-40)  Asian  Female        >30
47422                  5  [30-40)  Asian  Female         NO
50331                  3  [30-40)  Asian  Female         NO
57448                  5  [30-40)  Asian  Female         NO
71853                  1  [30-40)  Asian  Female         NO
82841                  2  [30-40)  Asian    Male         NO
86285                  4  [30-40)  Asian  Female         NO
97694                  2  [30-40)  Asian  Female         NO
101666                 4  [30-40)  Asian  Female         NO
('[30-40)', 'Caucasian')
        time_in_hospital      age       race  gender readmitted
3                      2  [30-40)  Caucasian    Male         NO
102                    3  [30-40)  Caucasian  Female         NO
115                    2  [30-40)  Caucasian  Female         NO
167                    2  [30-40)  Caucasian  Female        <30
198                    4  [30-40)  Caucasian  Female         NO
...                  ...      ...        ...     ...        ...
101549                 2  [30-40)  Caucasian  Female         NO
101571                 1  [30-40)  Caucasian  Female         NO
101633                 3  [30-40)  Caucasian    Male         NO
101693                 2  [30-40)  Caucasian  Female         NO
101728                 5  [30-40)  Caucasian  Female        >30

[2203 rows x 5 columns]
('[30-40)', 'Hispanic')
        time_in_hospital      age      race  gender readmitted
1362                   2  [30-40)  Hispanic  Female        >30
2355                   2  [30-40)  Hispanic  Female         NO
3172                   1  [30-40)  Hispanic    Male         NO
3527                   7  [30-40)  Hispanic    Male        <30
3744                   3  [30-40)  Hispanic    Male         NO
...                  ...      ...       ...     ...        ...
100277                 3  [30-40)  Hispanic    Male        >30
100384                 4  [30-40)  Hispanic  Female         NO
100928                 2  [30-40)  Hispanic  Female         NO
101684                 9  [30-40)  Hispanic    Male         NO
101726                 5  [30-40)  Hispanic    Male         NO

[174 rows x 5 columns]
('[30-40)', 'Other')
        time_in_hospital      age   race  gender readmitted
1759                   5  [30-40)  Other    Male         NO
2073                   4  [30-40)  Other    Male         NO
6764                   3  [30-40)  Other    Male        >30
9163                   5  [30-40)  Other    Male         NO
10005                  1  [30-40)  Other    Male        >30
...                  ...      ...    ...     ...        ...
98988                  3  [30-40)  Other  Female         NO
99900                  3  [30-40)  Other  Female         NO
101074                 1  [30-40)  Other  Female        <30
101122                 3  [30-40)  Other  Female         NO
101710                 3  [30-40)  Other  Female         NO

[84 rows x 5 columns]
('[40-50)', '?')
        time_in_hospital      age race  gender readmitted
177                    8  [40-50)    ?    Male         NO

In [31]:
#using groupby and aggregation on slimmed dataset
slimmed_df.groupby(['age', 'race', 'readmitted'])[['time_in_hospital']].mean()

                                     time_in_hospital
age      race            readmitted
[0-10)   ?               NO                  2.000000
         AfricanAmerican >30                 3.200000
                         NO                  2.636364
         Asian           NO                  2.500000
         Caucasian       <30                 2.666667
...                                               ...
[90-100) Hispanic        <30                 7.000000
                         >30                 6.166667
                         NO                  5.000000
         Other           >30                 4.500000
                         NO                  3.875000

[162 rows x 1 columns]